@use "../variables" as *;
* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Segoe UI, Helvetica, Arial, sans-serif;
  margin: 0;
  background: var($bg);
  color: #0f172a;
}

.app-root {
  display: block;
  min-height: 100vh;
}
